# node_modules
node_modules/

# build
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ide
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server
server/check_topbar.cjs
server/seedMissingCategories.cjs

# os
.DS_Store
Thumbs.db
